<div class="col-lg-8 col-lg-offset-2">
    <div class="jumbotron">
        <h1>{{title}}</h1>
        <p> New social network <img src="\assets\download.png" height="20px" alt="Italian Trulli"></p>
        <p *ngIf="identity">
            <a class="btn btn-success btn-lg" role="button" [routerLink]="['/timeline']"
                [routerLinkActive]="['active']">Timeline</a>
            <a class="btn btn-default btn-lg" role="button" [routerLink]="['/people']"
                [routerLinkActive]="['active']">People</a>
            <a class="btn btn-primary btn-lg" role="button" [routerLink]="['/posts']"
                [routerLinkActive]="['active']">Posts</a>
        </p>
        <img src="assets/social-3.png" />
    </div>
</div>