<div class="col-lg-5">
    <h1 class="h1-strong">{{title}}</h1>
    <div class="alert alert-success" *ngIf="status == 'success'">
        Your data has been updated correctly!
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        Error updating data.
    </div>
    <form #userEditForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">
        <p>
            <label>Name</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required />
            <span *ngIf="!name.value && name.touched" >The name is required!</span>
        </p>
        <p>
            <label>Surname</label>
            <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required />
            <span *ngIf="!surname.value && surname.touched" >The last name is required!</span>
        </p>
        <p>
            <label>Nickname</label>
            <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" class="form-control" required />
            <span *ngIf="!nick.value && nick.touched" >The nickname is required!</span>
        </p>
        <p>
            <label>Email</label>
            <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required />
            <span *ngIf="!email.value && email.touched" >The email is not correct!</span>
        </p>
        <div class="user-image-for-edit" *ngIf="user.image">
            <img src="{{ url + 'get-image-user/' + user.image}}" />
        </div>
        <p>
            <label>Image</label>
            <input type="file" placeholder="Upload image" (change)="fileChangeEvent($event)" />
        </p>
        <input type="submit" value="{{title}}" class="btn btn-warning" [disabled]="!userEditForm.form.valid" />
    </form>
</div>
